# Core Application Settings
PORT=5000
NODE_ENV=production

# Database Settings
# Swap this locally with mongodb://localhost:27017/online-placement for testing!
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/online-placement?retryWrites=true&w=majority

# Security Variables
# Use `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"` to securely generate this!
JWT_SECRET=your_super_secret_jwt_key
